.Container {
  padding: 2.5em 6.25em;
  display: flex;
  flex-direction: column;
}

.MainContainer {
  width: 81%;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .Container {
    padding: 0 1.2em;
  }

  .MainContainer {
    width: 100%;
  }
}
