.Container {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
}

.TitleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3em 1em;
  background-color: #ff6060;
  border-radius: 5px;
  z-index: 99;
  cursor: pointer;
}

.Title {
  color: #ffffff;
  font-size: 1.5em;
}

.Arrow {
  width: 1.5em;
}

.DescriptionContainer {
  background-color: #f6f6f6;
  border-radius: 5px;
  width: 100%;
  padding: 2.2em;
  transform: translate(0, -0.4em);
}

.Description {
  font-size: 1.5em;
  color: #ff6060;
}

.List {
  color: #ff6060;
  margin: 0;
  padding-left: 0;
}

.ListItem {
  font-size: 1.5em;
}

@media (max-width: 767px) {
  .Container {
    margin-bottom: 1.25em;
  }

  .Title {
    font-size: 0.8em;
  }

  .Description {
    font-size: 0.75em;
  }

  .ListItem {
    font-size: 0.75em;
  }
}
