.Container {
  padding: 10em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.Error {
  color: #ff6060;
  font-size: 18em;
  font-weight: 700;
}

.Description {
  margin-top: 4em;
  color: #ff6060;
  font-size: 2.25em;
}

.Link {
  margin-top: 11em;
  color: #ff6060;
  font-size: 1.2em;
  text-decoration: none;
}

.Link:hover {
  text-decoration: underline;
}

@media (max-width: 767px) {
  .Container {
    padding: 10em 3.5em;
  }

  .Error {
    font-size: 6em;
  }

  .Description {
    font-size: 1.2em;
  }

  .Link {
    margin-top: 8em;
  }
}
