.Container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 1.8em;
}

.Img {
  width: 100%;
  height: 25.9em;
  object-fit: cover;
  border-radius: 25px;
}

.CounterContainer {
  width: 100%;
  height: 100%;
  position: absolute;
}

.Counter {
  font-size: 1.2em;
  position: absolute;
  left: 50%;
  bottom: 1em;
  color: #ffffff;
}

.ArrowLeft {
  font-size: 5.3em;
  position: absolute;
  top: 40%;
  left: 0.2em;
  cursor: pointer;
  color: #ffffff;
}

.ArrowRight {
  font-size: 5.3em;
  position: absolute;
  top: 40%;
  right: 0.2em;
  cursor: pointer;
  color: #ffffff;
}

@media (max-width: 767px) {
  .Container {
    margin-bottom: 0.9em;
  }

  .Img {
    border-radius: 10px;
    height: 15.9em;
  }

  .Counter {
    display: none;
  }

  .ArrowLeft {
    font-size: 1.4em;
    left: 0.4em;
  }

  .ArrowRight {
    font-size: 1.4em;
    right: 0.4em;
  }
}
