.Container {
  padding: 2.5em 6.25em 0 6.25em;
  display: flex;
  justify-content: space-between;
}

.Logo {
  width: 13.1em;
}

.Nav {
  display: flex;
  gap: 3.5em;
}

.Link {
  color: #ff6060;
  text-decoration: none;
  margin: auto;
  cursor: pointer;
}

.Link:hover {
  text-decoration: underline;
}

.Underline {
  text-decoration: underline;
}

@media (max-width: 767px) {
  .Container {
    padding: 1.2em;
  }

  .Logo {
    width: 11em;
  }

  .Nav {
    gap: 0.6em;
  }
}
