.Container {
  padding: 2.5em 6.25em;
  display: flex;
  flex-direction: column;
}

.MainContainer {
  width: 100%;
  padding: 3.5em 3.1em;
  display: flex;
  flex-wrap: wrap;
  background-color: #f6f6f6;
  border-radius: 25px;
  gap: 1.2em 2%;
}

.Link {
  width: 32%;
  max-height: 15em;
}

@media (max-width: 767px) {
  .Container {
    padding: 0 1.2em;
  }

  .MainContainer {
    padding: 0 0 1em 0;
    background-color: #ffffff;
    border-radius: 10px;
  }

  .Link {
    width: 100%;
    min-height: 14em;
  }
}
