.Container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes loading {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.Loading {
  padding: 1em;
  border: 0.5em solid #ff6060;
  border-bottom-color: transparent;
  border-radius: 50%;
  animation: loading 1s infinite linear;
}
